LOG_LEVEL=debug

CLIENT_SERVER_ADDRESS=irc.eu.libera.chat
CLIENT_SERVER_PORT=6697

LISTENER_CORE_NICKNAME=nickname
LISTENER_CORE_AUTOJOIN='#channel1,#channel2'

LISTENER_SASL_ENABLED=true
LISTENER_SASL_USERNAME=sasl-username
LISTENER_SASL_PASSWORD=sasl-password

LISTENER_RAWECEEK_SERVICE_URL='https://raweceek.eu'
LISTENER_RAWECEEK_LISTEN_ON='#channel1'
