[Unit]
Description=Poring IRC bot
After=network-online.target

[Container]
Image=ghcr.io/parfentjev/poring:latest
EnvironmentFile=%h/poring.env

ReadOnly=true
NoNewPrivileges=true
DropCapability=all

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=default.target
